@media (max-width:1100px)
{
    .about-container{
        padding:3rem 2rem;
    }
}
@media (max-width:900px){
    header{ 
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        background-color: #000;
    }
    .close{
        display: inline-block;
    }
    #nav{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    #nav h2 a{
        font-size: 1rem;
    }
    #nav h2{
        width: 30%;
        margin:  0;
    }
    #nav label{
        width: 20%;
        margin: 0;
    }
    #nav h2 a{
        padding: 0.5rem 0 0;
        
    }
    #nav  ul#menu {
        display: none;
        width: 100vw;
        background-color: var(--primary-color);
        position: absolute;
        top:80px;
        left: 0;
        z-index:1000000
        
    }
    #nav ul#menu li {
        text-align: center;
        padding: 1rem 0 0.5rem;
        border-bottom: 1px dotted #fff;
        
    }
    #nav ul#menu li a{
        color:#fff;
    }
    #nav ul#menu li a:hover li{
        background-color: var(--secondary-color);
    }
    #nav ul#menu li a::before{
        display: none;
    }
    #nav ul#menu li:last-child{
        border-bottom: none;
    }
    #nav #toggle , #nav label{
        color:var(--primary-color);
        font-size: 1.3rem;
        cursor: pointer;
        display: block;
        
    }
    #nav label{
        margin-left: 50%;
    }
    #nav #toggle{
       opacity: 0;
    }
    #toggle:checked + ul#menu{
    display: block;
    } 
}
@media (max-width:768px){
    
    
    /* showcase */
    .showcase p{
        font-size: 0.9rem;
        letter-spacing: 0.05rem;
        line-height: 1.5rem;
    }
    .showcase h1{
        font-size: 2rem;
    }
    .showcase-container{
        width: 100%;
        margin-right: 10%;
    }
    /* About section */
    .about{
        background-position:center center;
        padding-bottom: 0px;
    }
    .about-container{
        float: none;
        width: 90%;
        opacity: 0.8;
       padding-bottom: 0;
       height: 80vh;
        
    }
    /* services section */
    #Services{
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .services-container{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5,  250px);
    }
    .services-container > div:last-child{
       display: none;
    }
    /* contact section */
    .contact-container{
        flex-direction: column;
    }
    .contact-container .form, .contact-container .contact-img{
        align-self: center;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .contact-container .form input{
    width: 100%;
    }
}
@media screen and (max-width:600px){
/* nav */
#nav h2{
    width: 100%;
}
#nav label{
    width: 100%;
    margin-left: -10px;
}
}
@media screen and (max-width:500px){
    /* services section */
    .services-container{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(9,  250px);
    }
    .services-container > div:last-child{
       display: block;
    }
    /* showcase */
    .showcase{
        justify-content: center;
    }
    .showcase-container{
        width: 100%;
        margin-left: 0;
    }
    /* about section */
    .about-container{
        height: 100vh;
    }
    .about-container p{
        line-height: 2.5rem;
    }
    .about-container button{
        margin-top: 3rem;
    }
    
}
@media all and (max-width: 300px) {
	#Testimonial {
		font-size: 14px;
	}
}

@media all and (max-width: 500px) {
	.testim .arrow {
		font-size: 1.5em;
	}
	
	.testim .cont div p {
		line-height: 25px;
	}

}

